<!doctype html>
<html class="theme-keel" lang="en" style="">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Orphan Waves is an experimental progressive alt-rock band from Helsinki Finland"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="orphanwaves.com" />
    <title>Orphan Waves</title>
    <link rel="stylesheet" href="style.css" />
    <style src="style.css"></style>
    <script src="./htmx.min.js"></script>
  </head>
  <body>
    <div id="background"></div>
    <div id='content_container'>
    <header>
        <h1 id="the_header">Orphan Waves</h1>
      <img alt="Orphan Waves band logo" src="./assets/logo_white.png" />
    </header>
    <section id="album"
      hx-get="/album/0"
      hx-trigger="load"
      hx-target="#album"
      hx-swap="outerHTML" >
    </section>
    <section id="about">
      <h2>About</h2>
      <p>
        <span class="font_bolder">Orphan Waves</span> is an experimental
        progressive alt-rock outfit based in Helsinki Finland that enjoys
        balancing between atmospheric floatiness and energetic fireworks. The
        band consists of <span class="band_member">Markku Essel</span> (guitar &
        vocals), <span class="band_member">Markus Kankkonen</span> (bass, synth
        & backing vocals) and
        <span class="band_member">Janne Aspvik</span> (drums).
      </p>
    </section>
    <section id="gallery">
      <a href="assets/markku.jpeg" class="band_member_image">
        <img id="markku" alt="Markku playing guitar" src="assets/markku.jpeg"
      /></a>
      <a href="assets/markus.jpeg" class="band_member_image">
        <img id="markus" alt="Markus playing bass" src="assets/markus.jpeg"
      /></a>
      <a href="assets/janne.jpeg" class="band_member_image">
        <img id="janne" alt="Janne playing durms" src="assets/janne.jpeg"
      /></a>
    </section>
    <section
      id="gigs"
      hx-get="/gigs"
      hx-trigger="load"
      hx-target="#gigs"
      hx-swap="innerHTML"
    ></section>
    <section id="contact">
      <a class="mail_link" href="mailto: orphanwavestheband@gmail.com"
        >orphanwavestheband@gmail.com</a
      >
      <div class="links_holder">
        <div id="links">
          <a
            class="social_media_links no_text"
            href="https://www.facebook.com/orphanwaves"
          >
            <img
              class="logo"
              id="facebook_logo"
              alt="Facbook logo"
              src="assets/facebook-128.png"
            />
          </a>
          <a
            class="social_media_links no_text"
            href="https://www.instagram.com/orphanwaves?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          >
            <img
              class="logo"
              id="instagram_logo"
              alt="Instagram logo"
              src="assets/Instagram_Glyph_White.png"
            />
          </a>
          <a
            class="social_media_links"
            href="https://open.spotify.com/artist/10AMELBTubHzNTbHUGZhgo"
            ><img
              class="logo"
              id="spotify_logo"
              alt="Spotify logo"
              src="./assets/spotify-128.png"
          /></a>
          <a
            class="social_media_links"
            href="https://www.youtube.com/@orphanwaves2298/featured"
          >
            <img
              class="logo"
              id="youtube_logo"
              alt="Youtube logo"
              src="assets/yt_icon_mono_dark.png"
          /></a>
        </div>
      </div>
    </section></div>
  </body>
  <script>
  document.addEventListener("htmx:afterSettle", (e) => {
    const newContent = e.detail.elt;
    if (newContent.id === "album"){
      const newTheme = newContent.getAttribute('data-theme')
      if (newTheme){
        document.documentElement.className = newTheme
      }
    }
  })

  document.addEventListener("htmx:beforeRequest", (e)=>{
    const album = document.querySelector("#album_cover_img")
    album.className = "loading"
  })
  </script>
</html>
